<form novalidate #form="ngForm" (submit)="OnSubmit(form)">
    <input type="hidden" name="id" [value]="service.formData.id" />
    <div class="form-group">
     <label>Name</label>
     <div class="input-group">
       <div class="input-group-prepend">
         <div class="input-group-text">
          <i class="fas fa-file-signature"></i>
         </div>
       </div>
       <input class="form-control form-control-lg" name="name" #name="ngModel" [(ngModel)]="service.formData.name" required [class.invalid]="name.invalid && name.touched" />
     </div>
   </div>    
   <div class="form-group">
     <label>Book's Author</label>
     <div class="input-group">
       <div class="input-group-prepend">
         <div class="input-group-text">
          <i class="fas fa-book-reader"></i>
         </div>
       </div>
       <input class="form-control form-control-lg" name="author" #author="ngModel" [(ngModel)]="service.formData.author" required [class.invalid]="author.invalid && author.touched" />
     </div>
   </div> 
        <div class="form-group">
          <label>Category</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
               <i class="fas fa-book-open"></i>
              </div>
            </div>
            <input class="form-control form-control-lg" name="category" #category="ngModel" [(ngModel)]="service.formData.category" required [class.invalid]="category.invalid && category.touched" />
          </div>
        </div>
        <div class="form-group">
          <label>Price</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">$</div>
            </div>
            <input class="form-control form-control-lg" name="price" #price="ngModel" [(ngModel)]="service.formData.price" required  [class.invalid]="price.invalid && price.touched"/>
          </div>
        </div>
   
        <div class="form-group">
            <input  type="submit" class="btn btn-info" type="submit" [disabled]="form.invalid"/>
        </div> 
        
</form>
